<%# views/profile.ejs %>

  <% extend('layout') %>
    <h4 class="page-title">Highest Job Posting</h4>
    </div>
    </div>
    <div class="page-content-wrapper">
      <div class="container"></div>
      <div class="container"></div>
      <div class="col-md-12 ">
        <div class="panel panel-primary">
          <div class="panel-body">

            <img src="/images/bi/profile.png" alt="Mountain View" width=100% height="">

          </div>
        </div>
      </div>