<%# views/salary.ejs %>

  <% extend('layout') %>

    <h4 class="page-title">Salary</h4>
    </div>
    </div>

    <div class="page-content-wrapper ">

      <div class="container">

        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-primary">
              <div class="panel-body">

                <img src="/images/bi/Salary.png" alt="Mountain View" width=100% height="">

              </div>
            </div>
          </div>
        </div>
        <!-- end row -->
      </div>
      <!-- end panel body -->
    </div>
    <!-- end panel -->
    </div>
    <!-- end col -->
    </div>
    <!-- end row -->


    </div>
    <!-- container -->


    </div>
    <!-- Page content Wrapper -->

    </div>
    <!-- content -->